.navbar {
  height: 6rem;
  background-color: rgb(42, 41, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

.navbar h1 {
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 400;
  color: lightgrey;
}

.navbar span {
  font-size: 2rem;
  color: lightgrey;
}
