.control-panel {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-btns {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-btns .play {
  font-size: 4rem;
}
